$a: rgba(113, 185, 79, 0);
$text:  rgb(61, 60, 60);

$outer-all-bcg-c: $a;
$inner-all-bcg-c: $a;

$nav-bcg-c: rgba(31, 44, 25, 1);
$nav-elem-c: rgba(169, 187, 90, 1);
$nav-elem-hov-c: rgb(208, 230, 114);
$nav-date-c: rgba(189, 245, 37, 1);

// $outer-tile-bcg-c: #C96567;

$inner-tile-bcg-c:   rgba(201, 106, 51, 0.787);
$inner-tile-done-bcg-c: rgb(175, 192, 24);
$inner-tile-text-c: $text;

$ok-button-bcg-c:  rgba(229, 245, 82, 0.712);
$ok-button-hov-bcg-c: rgb(216, 238, 15);
$ok-button-bcg-text: $text;

$ok-button-done-text: rgb(210, 243, 24);


$nok-button-bcg-c: rgba(159, 161, 160, 0.863);
$nok-button-hov-bcg-c: rgba(214, 214, 214, 0.863);

$outer-tile-bcg-c: $a;
$textarea-bcg-c: #b0b1b0;


