
$input-bcg: rgb(197, 218, 238);
// $input-border-color
// $input-border-width
// $input-border-style

$form-button-bcg: rgb(95, 212, 121);
$form-button-bcg-hover: rgb(105, 230, 132);
$form-button-text: white;

// $didits-container-bcg

// $didit-bcg
$didit-border-style: solid;
$didit-border-color: #0b0357;
$didit-border-width: 2px;
$didit-borderradius: 0.5rem;

$didit-text-color: rgb(90, 90, 90);

$didit-button-done-text: rgb(95, 212, 121);
$didit-button-done-bcg: inherit;
$didit-border-done-color: rgb(39, 212, 91);

$didit-button-ok-bcg: rgb(109, 109, 197);
$didit-button-ok-text: white;
$didit-button-ok-bcg-hover: rgb(145, 145, 228);

// $didit-button-nok-bcg
// $didit-button-nok-bcg-hover

// $text-on-page-color
// $best-didits-container-bcg
// $best-didits-tiles-bcg
// $best-didits-tile-text
// $best-didits-tile-number

$nav-bar-bcg: rgba(122, 162, 199, 0.808);
$sidenav-bar-bcg: rgb(69, 96, 172);
$nav-item-text-color: white;
$nav-item-text-color-hover: rgb(212, 235, 87);
$nav-date-color: white;
$welc-col-text: rgb(246, 249, 250);


