@import "../../colors-style.scss";

.WeekMonthContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
}

.TextOnPage{
    margin-top: 1rem;
    color: white; //$text-on-page-color
    font-size: 2rem;
    text-align: center;
}

.AllDiditsView{
    width: 90%;
    // margin: 1rem;
    // padding: 1rem;
    background-color: rgba(255, 255, 255, 0); //$best-didits-container-bcg
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* horizontally: */
    justify-content: center;
    /* vertically */
    align-content: center;
}

.DoneDiditTile{
    display: flex;
    flex-direction: row;
    /* horizontally: */
    justify-content: center;
    /* vertically */
    align-content: center;
    width: 15rem;
    margin: 2rem;
    background-color: white; //$best-didits-tiles-bcg
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    border-radius: 0.5rem;
}

@media(max-width: 499px){
    .DoneDiditTile{
        width: 12 rem;
    }
    .AllDiditsView{
        width: 95%
    }
}


.DoneDiditTileText{
    margin: 0rem;
    padding: 0.5rem;
    width: 60%;
    text-align: left;
    color: darkslategray; //$best-didits-tile-text

    word-wrap: break-word;
    -moz-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;
}
.DoneDiditTileNumber{
    margin: 0.5rem 1rem;
    padding: 0.5 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(241, 80, 88); //$best-didits-tile-number
}

