@import "../colors-style.scss";

.AllDiditsView{
    width: 90%;
    background-color: rgba(255, 255, 255, 0); //$didits-container-bcg
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* horizontally: */
    justify-content: center;
    /* vertically */
}


.messageText{
    margin-top: 3rem;
    font-size: 2rem;
}