@import "../colors-style.scss";
.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: rgba(255, 255, 255, 0);
    padding: 2rem 0;
    border-radius: 0.5rem;
}

.SubmitButton{
    font-size: 1.5rem;
    background-color: $form-button-bcg;
    border-radius: 0.5rem;
    color: $form-button-text;
    width: 20%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    // transition:all 0.2s ease;
}

.SubmitButton:hover{
    background-color: $form-button-bcg-hover;
    cursor: pointer;
}

@media(max-width: 499px){
    .Form{
        width: 100%;
    }
    .SubmitButton{
        width: 40%
    }
    .TextArea{
        width: 70%
    }
}

.TextArea{
    width: 60%;
    height: 2rem;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color:  $input-bcg;
    border: none; //$input-border-color $input-border-width $input-border-style
    font-family: inherit;
    border-radius: 0.5rem;
}

.ErrorMessage{
    background-color: white;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

