@import "../../colors-style.scss";

.TextOnPage{
    color: white; //$text-on-page-color
    font-size: 2rem;
}

.FormContainer{
    // margin: 2rem;
    // padding: 1rem;
    // background-color: rgba(76, 0, 130, 0.685);
    // border-radius: 2rem;
    text-align: center;
}

.Input{
    font-size: 1rem;
    margin: 1rem;
    width: 5rem;
    padding: 0.5rem;
    background-color: white; //$input-bcg;
    border-radius: 1rem;
    text-align: center;
    border: none; //delete it
    border-color: black; //$input-border-color;
    border-width: 2px; //$input-border-width;
}

.Input:hover{
background-color: rgb(253, 232, 180);
cursor: pointer;
}

.GraphContainerAndForm{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

