@import "../colors-style.scss";
p{
    color: inherit;
}

.messageText{
    margin-top: 3rem;
    font-size: 2rem;
}

.AllDiditsView{
    width: 80%;
    margin-top: 3rem;
    background-color: $inner-all-bcg-c;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* horizontally: */
    justify-content: space-around;
    /* vertically */
}


.DoneDiditTile{
    display: flex;
    flex-direction: column;
    /* horizontally: */
    justify-content: center;
    /* vertically */
    align-items: center;
    width: 20rem;
    margin: 2rem;
    background-color: rgb(212, 238, 171);
    color: rgb(88, 87, 87);
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;



    word-wrap: break-word;
    -moz-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;

}

.DoneDiditTile:nth-child(2n){
    background-color: rgb(235, 165, 206);
}
.DoneDiditTile:nth-child(3n){
    background-color: rgb(162, 221, 218);
}
.DoneDiditTile:nth-child(5n){
    background-color: rgb(148, 191, 226);
}

.DoneDiditTileText{
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;

}
.DoneDiditTileNumber{

    margin: 1 1rem;
    padding: 0.5 0.5rem;
    font-size: 2rem;
}





.SubmitButton{
    font-size: 1rem;
    background-color: $ok-button-bcg-c;
    border-radius: 1rem;
    color: $ok-button-bcg-text;
    width: 20%;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;

}

.SubmitButton:hover{
    background-color: $ok-button-hov-bcg-c;
    cursor: pointer;

}
