@import "../colors-style.scss";

.SpaceUnder{
    margin-top: 2rem;
}

.TwoColContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.SidePhotoRight{
    width: 350px;
    height: 350px;

    background-image: url(../cameleon-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin: 1rem;
}

.WelcomeBcg{

    // margin-top: 7rem;
    // margin-bottom: 2rem;
    background-color: rgba(29, 28, 28, 0);
    width: 45%;
    //height: 350px;
    border-radius: 1rem;;
    color: $welc-col-text;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 1rem;
}

@media(max-width: 499px){
    .SidePhotoRight{
        display:none;
    }
    .WelcomeBcg{
        width: 80%
    }
}


