@import "../colors-style.scss";

.DiditTile, .DiditTileDone{
    display: flex;
    flex-direction: column;
    /* horizontally: */
    justify-content: center;
    /* vertically */
    align-items: center;
    width: 12rem;
    margin-top:0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white ; //$didit-bcg
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: $didit-borderradius;
    border-style: $didit-border-style;
    border-color: $didit-border-color;
    border-width: $didit-border-width;
}
.DiditTileDone{
    border-color: $didit-border-done-color;
    background-color:$didit-border-done-color;
}



.DiditTileButtonDone{
    background-color: $didit-button-done-bcg;
    color: $didit-button-done-text;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 0.2rem;
    padding: 0rem;
}

.DiditTileText{
    /* margin: vert hor */
    margin: 0rem;
    padding: 0.5rem;
    width: 95%;
    text-align: center;
    color: $didit-text-color;
    word-wrap: break-word;
    -moz-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;
}

.ButtonsContainer{
    width: 90%;
    margin: 0rem;
    padding: 0rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.DiditTileButton, .DiditTileSeeButton, .DiditTileButtonDelete{
    background-color: $didit-button-ok-bcg;
    border-radius: 0.5rem;
    color: $didit-button-ok-text;
    text-align: center;
    margin: 0.25rem;
    padding: 0.5rem;

    grid-column-start: span 2;
}

.DiditTileButton:hover, .DiditTileSeeButton:hover{
    background-color: $didit-button-ok-bcg-hover;
    cursor: pointer;
}

.DiditTileButtonDelete{
    background-color: lightgray; //$didit-button-nok-bcg
    grid-column-start: span 1;
}

.DiditTileButtonDelete:hover{
    background-color: gray; //$didit-button-nok-bcg-hover
    cursor: pointer;
}

.DiditTileSeeButton{
    grid-column-start: span 1;
}

.Disabled{
    pointer-events: none;
    opacity: 0.4;
}




